export const env = 'dev';
export const domain = '';
export const secret = '';
export const apiUrl = '';
export const accessToken = '';
export const systemId = '';
export const lajiAuthUrl = '';
export const triplestoreUrl = '';
export const triplestoreAuth = '';
export const allowedRoles = [];
export const allowedLogin = [];
