<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no"/>

  <link rel="icon" href="/static/images/icons/favicon.ico" type="image/x-icon" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Suomen Lajitietokeskus</title>

  <base href="/">

  <!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.laji.fi/nvd3/1.8.4/nv.d3.min.css" />
  <link rel="stylesheet" href="https://cdn.laji.fi/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' type="text/css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    html, body, .container, .container > .row {
      height: 100%;
    }
    body {
      background-color: #2C3E50;
    }
    .error {
      border: solid 2px #d62022;
      padding: 5px;
      border-radius: 5px;
      background-color: #fee;
    }
    .container > .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .login-container {
      width: 300px;
      margin: 0 auto;
      padding: 15px;
      background-color: #fefefe;
      border-radius: 10px;
    }
    .login-container h3 {
      margin-top: 5px;
    }
    .auth-sources, .auth-sources li {
      list-style: none;
    }
    .auth-sources li:not(:first-child) {
      padding-top: 20px;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="login-container">
      {{^hasError}}
        <h3>Valitse kirjautumistapa</h3>
        <ul class="auth-sources">
          {{#allowedLogin}}
            <li>
              <a href="{{lajiAuthUrl}}{{path}}?target={{systemId}}&allowUnapproved=false&next=">
                <img src="https://cdn.laji.fi/images/laji-auth/{{method}}.png" alt="{{method}}" />
              </a>
            </li>
          {{/allowedLogin}}
        </ul>
      {{/hasError}}
      {{#hasError}}
        <div class="error">
          <h4>Käyttäjätunnuksellasi ei ole vielä oikeutta käyttää tätä järjestelmää.</h4>
          Ole hyvä, ja ota yhteyttä osoitteeseen viranomaiset@laji.fi, ja pyydä pääsyä Viranomaisportaaliin. Lähetä pyyntö käyttäen sitä sähköpostiosoitetta, jolla olet luonut tunnuksesi.<br><br>
          <a href="/user/viranomaiset">Takaisin</a>
        </div>
      {{/hasError}}
    </div>
  </div>
</div>
</body>
</html>
